<html>
  <head>
    <title>Foresight Admin</title>
    <meta name="decorator" content="atl.admin">
  </head>
  <body>
  
  	#if($success)
  		$success
  	#end
  
    <form id="admin" class="aui" action="" method="POST">
    #foreach ($issueType in $context.keySet())
	
        <div class="field-group">
             <label for="IssueType">IssueType:</label>
             $issueType
        </div>
        <div class="field-group">
             <label for="color">Color:</label>
             <input type="text" id="color" name="$issueType" class="text" value="$context.get($issueType)"/>
        </div>
        
    #end
        <div class="field-group">
            <input type="submit" value="Save" class="button"/>
        </div>
    </form>
  </body>
</html>